.contact-form {
  border-radius: 6px;
  border: 3px solid white;
  padding: 12px;
  max-width: 430px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: whitesmoke;
}

h2 {
  text-align: center;
  margin: 12px 12px;
}

.form-group {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #0facc2;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}
/* @media (max-width: 600px) {
  .contact-form {
    max-width: 100%;
  }
} */
