.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: black;
  border-bottom: 1px solid #ccc;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color:rgb(242, 52, 52);
  text-decoration:none ;
  
 
}

.navigation {
  margin-top: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  cursor: pointer;
  
}

.nav-list li a {
  color: rgb(14, 207, 210);
  text-decoration: none;
}

.nav-list li a:hover{
  color: red;
}

.user-auth {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.auth-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Media Queries */
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    margin-top: 0;
  }

  .nav-list {
    flex-direction: row;
  }

  .auth-button {
    padding: 0.5rem 1rem;
  }
}

.logo h5 {
  color: rgb(14, 207, 210);
  margin-left: 1.2rem;
  margin-top: -1rem;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter-logo 4s steps(40, end) infinite;
}

@keyframes typewriter-logo {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
